In [349]:
import pandas as pd
import numpy as np 

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [350]:
NFW = pd.read_csv('NFWBS_PUF_2016_data.csv')
NFW

,PUF_ID,sample,fpl,SWB_1,SWB_2,SWB_3,FWBscore,FWB1_1,FWB1_2,FWB1_3,...,PPMSACAT,PPREG4,PPREG9,PPT01,PPT25,PPT612,PPT1317,PPT18OV,PCTLT200FPL,finalwt
0,10350,2,3,5,5,6,55,3,3,3,...,1,4,8,0,0,0,0,1,0,0.367292
1,7740,1,3,6,6,6,51,2,2,3,...,1,2,3,0,0,0,0,2,0,1.327561
2,13699,1,3,4,3,4,49,3,3,3,...,1,4,9,0,0,0,1,2,1,0.835156
3,7267,1,3,6,6,6,49,3,3,3,...,1,3,7,0,0,0,0,1,0,1.410871
4,7375,1,3,4,4,4,49,3,3,3,...,1,2,4,0,0,1,0,4,1,4.260668
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6389,11220,3,3,6,7,7,61,3,3,1,...,1,2,3,0,0,0,1,2,-5,0.522504
6390,13118,3,2,7,7,7,59,3,4,2,...,1,3,6,0,0,0,0,3,-5,1.015219
6391,8709,1,3,5,6,6,59,3,4,3,...,1,1,2,0,0,0,0,2,0,1.136270
6392,8515,1,3,5,5,5,46,2,2,3,...,1,4,9,0,0,0,0,2,0,1.224941
6393,8516,3,2,4,6,4,49,3,3,3,...,0,3,5,0,0,1,0,2,-5,0.626489

In [351]:
NFW.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6394 entries, 0 to 6393
Columns: 217 entries, PUF_ID to finalwt
dtypes: float64(2), int64(215)
memory usage: 10.6 MB

In [352]:
NFW.isna()

,PUF_ID,sample,fpl,SWB_1,SWB_2,SWB_3,FWBscore,FWB1_1,FWB1_2,FWB1_3,...,PPMSACAT,PPREG4,PPREG9,PPT01,PPT25,PPT612,PPT1317,PPT18OV,PCTLT200FPL,finalwt
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6389,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6390,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6391,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6392,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6393,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [353]:
NFW.columns

Index(['PUF_ID', 'sample', 'fpl', 'SWB_1', 'SWB_2', 'SWB_3', 'FWBscore',
       'FWB1_1', 'FWB1_2', 'FWB1_3',
       ...
       'PPMSACAT', 'PPREG4', 'PPREG9', 'PPT01', 'PPT25', 'PPT612', 'PPT1317',
       'PPT18OV', 'PCTLT200FPL', 'finalwt'],
      dtype='object', length=217)

In [354]:
Df1 = NFW[['FINKNOWL1','FINKNOWL2','FINKNOWL3',]]

In [355]:
Df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6394 entries, 0 to 6393
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   FINKNOWL1  6394 non-null   int64
 1   FINKNOWL2  6394 non-null   int64
 2   FINKNOWL3  6394 non-null   int64
dtypes: int64(3)
memory usage: 150.0 KB

In [356]:
Df1.corr()

           FINKNOWL1  FINKNOWL2  FINKNOWL3
FINKNOWL1   1.000000   0.012956   0.050876
FINKNOWL2   0.012956   1.000000   0.385775
FINKNOWL3   0.050876   0.385775   1.000000

In [357]:
Df2 = NFW[['FWBscore','FSscore']]

##FWBscore Financial well-being scale score
##FSscore Financial skill scale score

In [358]:
Df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6394 entries, 0 to 6393
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   FWBscore  6394 non-null   int64
 1   FSscore   6394 non-null   int64
dtypes: int64(2)
memory usage: 100.0 KB

In [359]:
Df2.corr()

          FWBscore   FSscore
FWBscore  1.000000  0.494661
FSscore   0.494661  1.000000

In [360]:
Df3 = NFW[['FS1_1','FS1_2','FS1_3','FS1_4','FS1_5','FS1_6','FS1_7','FSscore']]

In [ ]:
Df3

In [361]:
Df3.value_counts()

FS1_1  FS1_2  FS1_3  FS1_4  FS1_5  FS1_6  FS1_7  FSscore
3      3      3      3      3      3      3      42         208
5      5      5      5      5      5      5      85         114
4      4      4      4      4      4      4      58          83
                                                 57          69
                                                 56          67
                                                           ...
3      4      2      3      2      3      3      44           1
                                          4      43           1
                                                 44           1
                                   4      1      42           1
4      2      2      2      1      4      3      38           1
Length: 3639, dtype: int64

In [364]:
Df3[['FSscore']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6394 entries, 0 to 6393
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   FSscore  6394 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB

In [ ]:
Df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6394 entries, 0 to 6393
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   FS1_1    6394 non-null   int64
 1   FS1_2    6394 non-null   int64
 2   FS1_3    6394 non-null   int64
 3   FS1_4    6394 non-null   int64
 4   FS1_5    6394 non-null   int64
 5   FS1_6    6394 non-null   int64
 6   FS1_7    6394 non-null   int64
 7   PAREDUC  6394 non-null   int64
 8   FSscore  6394 non-null   int64
dtypes: int64(9)
memory usage: 449.7 KB

In [ ]:
Df3.corr()

,FS1_1,FS1_2,FS1_3,FS1_4,FS1_5,FS1_6,FS1_7,PAREDUC,FSscore
FS1_1,1.000000,0.562367,0.616284,0.648156,0.550534,0.660680,0.696513,0.136485,0.853672
FS1_2,0.562367,1.000000,0.536260,0.574447,0.556310,0.476475,0.518967,0.158377,0.700292
FS1_3,0.616284,0.536260,1.000000,0.715389,0.665043,0.482123,0.518685,0.111194,0.757641
FS1_4,0.648156,0.574447,0.715389,1.000000,0.667535,0.535461,0.578097,0.139526,0.827159
FS1_5,0.550534,0.556310,0.665043,0.667535,1.000000,0.438801,0.496476,0.138768,0.733243
FS1_6,0.660680,0.476475,0.482123,0.535461,0.438801,1.000000,0.702091,0.087158,0.728515
FS1_7,0.696513,0.518967,0.518685,0.578097,0.496476,0.702091,1.000000,0.139339,0.783045
PAREDUC,0.136485,0.158377,0.111194,0.139526,0.138768,0.087158,0.139339,1.000000,0.150860
FSscore,0.853672,0.700292,0.757641,0.827159,0.733243,0.728515,0.783045,0.150860,1.000000

In [ ]:
from sklearn.model_selection import train_test_split
Df3_train, Df3_test = train_test_split(Df3, test_size =0.25, random_state = 1)
print(Df3_test.shape)
print(Df3_train.shape)

(1599, 9)
(4795, 9)

In [ ]:
x = Df3_train[['FS1_1','FS1_2','FS1_3','FS1_4','FS1_5','FS1_6','FS1_7']]

In [ ]:
y = Df3_test[['FSscore']]

In [ ]:
cart01 = DecisionTreeClassifier(criterion = "gini", max_leaf_nodes=5).fit(x,y)
c50_01 = DecisionTreeClassifier(criterion="entropy",max_leaf_nodes=5).fit(x,y)

ValueError: Number of labels=1599 does not match number of samples=4795

In [ ]:
rf01 = RandomForestClassifier(n_estimators = 100,criterion="gini").fit(x,y)

In [ ]:
Df4 = NFW[['FWB1_1','FWB1_2','FWB1_3','FWB1_4','FWB1_5','FWB1_6','FWB2_1','FWB2_2','FWB2_3','FWB2_4']]

In [ ]:
Df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6394 entries, 0 to 6393
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   FWB1_1  6394 non-null   int64
 1   FWB1_2  6394 non-null   int64
 2   FWB1_3  6394 non-null   int64
 3   FWB1_4  6394 non-null   int64
 4   FWB1_5  6394 non-null   int64
 5   FWB1_6  6394 non-null   int64
 6   FWB2_1  6394 non-null   int64
 7   FWB2_2  6394 non-null   int64
 8   FWB2_3  6394 non-null   int64
 9   FWB2_4  6394 non-null   int64
dtypes: int64(10)
memory usage: 499.7 KB

In [ ]:
Df4.corr()

,FWB1_1,FWB1_2,FWB1_3,FWB1_4,FWB1_5,FWB1_6,FWB2_1,FWB2_2,FWB2_3,FWB2_4
FWB1_1,1.000000,0.681299,-0.479241,0.685262,-0.415907,-0.438652,-0.568399,0.652636,-0.483152,-0.448357
FWB1_2,0.681299,1.000000,-0.478957,0.704254,-0.355591,-0.445923,-0.506654,0.602533,-0.434183,-0.408943
FWB1_3,-0.479241,-0.478957,1.000000,-0.486202,0.526928,0.618277,0.602198,-0.496614,0.516719,0.552391
FWB1_4,0.685262,0.704254,-0.486202,1.000000,-0.351658,-0.434148,-0.503711,0.621428,-0.462599,-0.426669
FWB1_5,-0.415907,-0.355591,0.526928,-0.351658,1.000000,0.471662,0.500905,-0.414976,0.434705,0.441083
FWB1_6,-0.438652,-0.445923,0.618277,-0.434148,0.471662,1.000000,0.519631,-0.446753,0.436324,0.512801
FWB2_1,-0.568399,-0.506654,0.602198,-0.503711,0.500905,0.519631,1.000000,-0.603919,0.640245,0.613980
FWB2_2,0.652636,0.602533,-0.496614,0.621428,-0.414976,-0.446753,-0.603919,1.000000,-0.529989,-0.463425
FWB2_3,-0.483152,-0.434183,0.516719,-0.462599,0.434705,0.436324,0.640245,-0.529989,1.000000,0.550552
FWB2_4,-0.448357,-0.408943,0.552391,-0.426669,0.441083,0.512801,0.613980,-0.463425,0.550552,1.000000