In [42]:
import pandas as pd
import numpy as np 

import matplotlib.pyplot as plt
import seaborn as sns

In [43]:
NFW = pd.read_csv('NFWBS_PUF_2016_data.csv')
NFW

,PUF_ID,sample,fpl,SWB_1,SWB_2,SWB_3,FWBscore,FWB1_1,FWB1_2,FWB1_3,...,PPMSACAT,PPREG4,PPREG9,PPT01,PPT25,PPT612,PPT1317,PPT18OV,PCTLT200FPL,finalwt
0,10350,2,3,5,5,6,55,3,3,3,...,1,4,8,0,0,0,0,1,0,0.367292
1,7740,1,3,6,6,6,51,2,2,3,...,1,2,3,0,0,0,0,2,0,1.327561
2,13699,1,3,4,3,4,49,3,3,3,...,1,4,9,0,0,0,1,2,1,0.835156
3,7267,1,3,6,6,6,49,3,3,3,...,1,3,7,0,0,0,0,1,0,1.410871
4,7375,1,3,4,4,4,49,3,3,3,...,1,2,4,0,0,1,0,4,1,4.260668
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6389,11220,3,3,6,7,7,61,3,3,1,...,1,2,3,0,0,0,1,2,-5,0.522504
6390,13118,3,2,7,7,7,59,3,4,2,...,1,3,6,0,0,0,0,3,-5,1.015219
6391,8709,1,3,5,6,6,59,3,4,3,...,1,1,2,0,0,0,0,2,0,1.136270
6392,8515,1,3,5,5,5,46,2,2,3,...,1,4,9,0,0,0,0,2,0,1.224941
6393,8516,3,2,4,6,4,49,3,3,3,...,0,3,5,0,0,1,0,2,-5,0.626489

In [44]:
NFW.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6394 entries, 0 to 6393
Columns: 217 entries, PUF_ID to finalwt
dtypes: float64(2), int64(215)
memory usage: 10.6 MB

In [45]:
NFW.isna()

,PUF_ID,sample,fpl,SWB_1,SWB_2,SWB_3,FWBscore,FWB1_1,FWB1_2,FWB1_3,...,PPMSACAT,PPREG4,PPREG9,PPT01,PPT25,PPT612,PPT1317,PPT18OV,PCTLT200FPL,finalwt
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6389,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6390,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6391,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6392,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6393,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [46]:
NFW.columns

Index(['PUF_ID', 'sample', 'fpl', 'SWB_1', 'SWB_2', 'SWB_3', 'FWBscore',
       'FWB1_1', 'FWB1_2', 'FWB1_3',
       ...
       'PPMSACAT', 'PPREG4', 'PPREG9', 'PPT01', 'PPT25', 'PPT612', 'PPT1317',
       'PPT18OV', 'PCTLT200FPL', 'finalwt'],
      dtype='object', length=217)

In [47]:
Df1 = NFW[['FINKNOWL1','FINKNOWL2','FINKNOWL3',]]

In [48]:
Df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6394 entries, 0 to 6393
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   FINKNOWL1  6394 non-null   int64
 1   FINKNOWL2  6394 non-null   int64
 2   FINKNOWL3  6394 non-null   int64
dtypes: int64(3)
memory usage: 150.0 KB

In [53]:
Df1.corr()

           FINKNOWL1  FINKNOWL2  FINKNOWL3
FINKNOWL1   1.000000   0.012956   0.050876
FINKNOWL2   0.012956   1.000000   0.385775
FINKNOWL3   0.050876   0.385775   1.000000

In [49]:
Df2 = NFW[['FWBscore','FSscore']]

##FWBscore Financial well-being scale score
##FSscore Financial skill scale score

In [50]:
Df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6394 entries, 0 to 6393
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   FWBscore  6394 non-null   int64
 1   FSscore   6394 non-null   int64
dtypes: int64(2)
memory usage: 100.0 KB

In [54]:
Df2.corr()

          FWBscore   FSscore
FWBscore  1.000000  0.494661
FSscore   0.494661  1.000000

In [51]:
Df3 = NFW[['FS1_1','FS1_2','FS1_3','FS1_4','FS1_5','FS1_6','FSscore']]

In [52]:
Df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6394 entries, 0 to 6393
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   FS1_1    6394 non-null   int64
 1   FS1_2    6394 non-null   int64
 2   FS1_3    6394 non-null   int64
 3   FS1_4    6394 non-null   int64
 4   FS1_5    6394 non-null   int64
 5   FS1_6    6394 non-null   int64
 6   FSscore  6394 non-null   int64
dtypes: int64(7)
memory usage: 349.8 KB

In [55]:
Df3.corr()

            FS1_1     FS1_2     FS1_3     FS1_4     FS1_5     FS1_6   FSscore
FS1_1    1.000000  0.562367  0.616284  0.648156  0.550534  0.660680  0.853672
FS1_2    0.562367  1.000000  0.536260  0.574447  0.556310  0.476475  0.700292
FS1_3    0.616284  0.536260  1.000000  0.715389  0.665043  0.482123  0.757641
FS1_4    0.648156  0.574447  0.715389  1.000000  0.667535  0.535461  0.827159
FS1_5    0.550534  0.556310  0.665043  0.667535  1.000000  0.438801  0.733243
FS1_6    0.660680  0.476475  0.482123  0.535461  0.438801  1.000000  0.728515
FSscore  0.853672  0.700292  0.757641  0.827159  0.733243  0.728515  1.000000